@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-image: url("https://img.cdn-pictorem.com/uploads/collection/E/EH4LNA1KMP/900_7ob_Trees_Moon_Lake_Moonlight_Night_Image_Manipulation_Mystic_Light_Mood_Illuminated_Night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
  z-index: 0;
}

.container {
  width: 400px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
  color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

form {
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  outline: none;
  font-size: 16px;
}

form input::placeholder {
  color: #ddd;
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #cecece;
}

.guest-login {
  text-align: center;
  margin-top: 20px;
}

.guest-login button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.guest-login button:hover {
  background-color: #cecece;
}
